@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.contato {
  background-color: var(--branco);
  padding: 1em;
}
.contato__titulo {
  font-size: 18px;
  font-weight: 500;
}
.contato__texto {
  font-weight: 300;
  margin: 1em 0;
}
.contato__email::placeholder {
  font-family: var(--fonte-principal);
  color: var(--azul);
  background: url("../img/Email.svg") no-repeat;
  padding-left: 2em;
}
<hr />
<hr />

<footer class="rodapé">

</footer>
<hr />

<footer class="rodapé">
  <h2 class="rodapé__titulo">Grupo Alura</h2>
</footer>
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");
hr {
  margin: 0;
}
.rodapé {
  background-color: var(--branco);
  padding: 1em;
}
.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rdba(0, 244, 191, 0.2);
}
.cartao__conteudo__resposta{
    transform: rotateY(180deg);
    background-color: rgba(0, 244, 191, 0.2);
    border: 4px solid var(--card-back-color);
}
.cartao_conteudo_pergunta,
.cartao_conteudo_resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}
@media (max-width: 560px){

}
@media (max-width: 560 px) {

    body {
        background: url('img/bd-mobile.webp');
    }

}
.cartao {
        flex: 1 0 calc(100% - 1rem);
    }
.cartao__conteudo h3 {
    font-size: 3vw;
}
.cartao__conteudo p {
    font-size: 3.8vw;
}

